@charset "UTF-8";
/*! v0.0.2 NayKel base reset built upon modern-normalize  */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: inherit;
  line-height: inherit;
  font-size: 1rem;
  font-weight: normal;
  color: #333;
}

hr {
  margin: 1.25rem 0;
  border: 1px solid #e6e6eb;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

small {
  font-size: 80%;
  display: inline-block;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

label {
  margin-right: 0.5rem;
  font-weight: 600;
  margin-top: 6px;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

b,
strong {
  font-weight: 700;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
}

:is(h1, h2, h3, h4, h5, h6):not(:first-child) {
  font-weight: 700;
  line-height: 1.125;
  color: inherit;
  margin-top: 2rem;
}

ul,
ol {
  margin-left: 1em;
}

li ul,
li ol {
  margin-top: 0.5em;
  margin-top: 0;
  margin-left: 1rem;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

.link,
main a {
  color: #007bff;
  text-decoration: underline;
}
.link:hover,
main a:hover {
  color: #0056b3;
}

:not(pre) > code, :not(pre) > kbd, :not(pre) > samp {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  color: #f0506e;
  white-space: nowrap;
  padding: 2px 6px;
  background: #f8f8f8;
}

code + code {
  margin-left: 0.25rem;
}

img,
picture,
video {
  max-width: 100%;
  max-height: 100%;
  border-style: none;
  vertical-align: middle;
}

svg {
  fill: currentcolor;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  background: #ebebeb;
}

th,
td {
  padding: 0.5em;
  border: 1px solid #c7c5c5;
  text-align: left;
  vertical-align: top;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

hr.mm {
  margin-left: -2rem;
  margin-right: -2rem;
}
hr.lg {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.row.mm {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 576px), print {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
}
.col {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=col-] {
  padding: 0.75rem;
}

.col-10 {
  flex: 0 0 10%;
  max-width: 10%;
}

.col-15 {
  flex: 0 0 15%;
  max-width: 15%;
}

.col-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.col-25 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-30 {
  flex: 0 0 30%;
  max-width: 30%;
}

.col-33 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.col-40 {
  flex: 0 0 40%;
  max-width: 40%;
}

.col-50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-60 {
  flex: 0 0 60%;
  max-width: 60%;
}

.col-66 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
}

.col-70 {
  flex: 0 0 70%;
  max-width: 70%;
}

.col-75 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-80 {
  flex: 0 0 80%;
  max-width: 80%;
}

.col-85 {
  flex: 0 0 85%;
  max-width: 85%;
}

.col-90 {
  flex: 0 0 90%;
  max-width: 90%;
}

.col-100 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 320px) {
  .col-xs-10 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-xs-15 {
    flex: 0 0 15%;
    max-width: 15%;
  }

  .col-xs-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-xs-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xs-30 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-xs-33 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .col-xs-40 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-xs-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xs-60 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-xs-66 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }

  .col-xs-70 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .col-xs-75 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xs-80 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-xs-85 {
    flex: 0 0 85%;
    max-width: 85%;
  }

  .col-xs-90 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .col-xs-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .col-sm-10 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-sm-15 {
    flex: 0 0 15%;
    max-width: 15%;
  }

  .col-sm-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-sm-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-30 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-sm-33 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .col-sm-40 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-sm-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-60 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-sm-66 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }

  .col-sm-70 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .col-sm-75 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-80 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-sm-85 {
    flex: 0 0 85%;
    max-width: 85%;
  }

  .col-sm-90 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .col-sm-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-10 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-md-15 {
    flex: 0 0 15%;
    max-width: 15%;
  }

  .col-md-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-md-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-30 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-md-33 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .col-md-40 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-md-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-60 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-md-66 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }

  .col-md-70 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .col-md-75 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-80 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-md-85 {
    flex: 0 0 85%;
    max-width: 85%;
  }

  .col-md-90 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .col-md-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-10 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-lg-15 {
    flex: 0 0 15%;
    max-width: 15%;
  }

  .col-lg-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-lg-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-30 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-lg-33 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .col-lg-40 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-lg-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-60 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-lg-66 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }

  .col-lg-70 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .col-lg-75 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-80 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-lg-85 {
    flex: 0 0 85%;
    max-width: 85%;
  }

  .col-lg-90 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .col-lg-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-10 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-xl-15 {
    flex: 0 0 15%;
    max-width: 15%;
  }

  .col-xl-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-xl-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-30 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-xl-33 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .col-xl-40 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-xl-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-60 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-xl-66 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }

  .col-xl-70 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .col-xl-75 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-80 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-xl-85 {
    flex: 0 0 85%;
    max-width: 85%;
  }

  .col-xl-90 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .col-xl-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1600px) {
  .col-xxl-10 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-xxl-15 {
    flex: 0 0 15%;
    max-width: 15%;
  }

  .col-xxl-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-xxl-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xxl-30 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-xxl-33 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .col-xxl-40 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-xxl-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xxl-60 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-xxl-66 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }

  .col-xxl-70 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .col-xxl-75 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xxl-80 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-xxl-85 {
    flex: 0 0 85%;
    max-width: 85%;
  }

  .col-xxl-90 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .col-xxl-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 75em;
  }
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.hero-text .title {
  color: #eee;
  font-size: 2.25rem;
}
@media (min-width: 768px) {
  .hero-text .title {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  .hero-text .title {
    font-size: 4rem;
  }
}
.hero-text .subtitle {
  color: #eee;
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  .hero-text .subtitle {
    font-size: 2.1rem;
  }
}

button,
textarea,
select,
input:not([type=checkbox]):not([type=radio]) {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.375em 1em;
  cursor: text;
  line-height: 1.5;
  align-items: center;
  display: inline-flex;
  position: relative;
  vertical-align: top;
}

button.xs,
textarea.xs,
select.xs,
input.xs:not([type=checkbox]):not([type=radio]) {
  font-size: 0.6rem;
}

button.sm,
textarea.sm,
select.sm,
input.sm:not([type=checkbox]):not([type=radio]) {
  font-size: 0.75rem;
}

button.md,
textarea.md,
select.md,
input.md:not([type=checkbox]):not([type=radio]) {
  font-size: 1.25rem;
}

button.lg,
textarea.lg,
select.lg,
input.lg:not([type=checkbox]):not([type=radio]) {
  font-size: 1.5rem;
}

:disabled {
  cursor: not-allowed;
}

:disabled,
.disabled {
  opacity: 0.5;
}

input[type=checkbox],
input[type=radio] {
  margin-right: 10px;
}

textarea,
select,
input:not([type=checkbox]):not([type=radio]) {
  padding-left: 0.75em;
}

button,
select {
  cursor: pointer;
}

::-moz-placeholder {
  color: #bbbbbb;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bbbbbb;
  opacity: 1;
}

::placeholder {
  color: #bbbbbb;
  opacity: 1;
}

.checkbox,
.radio {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
}

form.condensed .frm-row:not(:first-child) {
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  form.inline .frm-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  form.inline label {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: right;
  }
  form.inline .group,
form.inline input:not([type=checkbox]):not([type=radio]),
form.inline select,
form.inline textarea {
    flex-basis: 0;
    flex-grow: 2;
    flex-shrink: 0;
  }
}
.frm-row label {
  margin-bottom: 3px;
}
.frm-row input:not([type=checkbox]):not([type=radio]),
.frm-row select,
.frm-row textarea {
  width: 100%;
}
.frm-row > [class*=col] {
  padding-top: 0;
  padding-bottom: 0;
}
.frm-row > [class*=col]:first-child {
  padding-left: 0;
}
.frm-row > [class*=col]:last-child {
  padding-right: 0;
}

.file {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-items: stretch;
  display: inline-flex;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}
.file input[type=file] {
  left: 0;
  opacity: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  cursor: pointer;
}
.file.btn {
  display: inline-flex;
}
.file .icon {
  margin-right: 5px;
}
.file-name {
  display: block;
  overflow: hidden;
  text-align: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 15rem;
}

.accordion-toggle {
  background-color: #fafafa;
  color: #444;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 1rem;
}

.accordion-active,
.accordion-toggle:hover {
  background-color: #e6e6e6;
}

.accordion-toggle:before {
  content: "➕";
  font-size: 0.5rem;
  color: white;
  margin-right: 0.5rem;
}

.accordion-active:before {
  content: "➖";
}

.accordion-body {
  display: block;
  overflow: hidden;
  border-radius: 0;
}
.accordion-body > div {
  border-top: none;
}
.accordion-body > div:hover {
  background-color: rgba(250, 221, 230, 0.15);
}

.bx {
  padding: 1.25rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.bx > *:first-child {
  margin-top: 0;
}
.bx-title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
}

.bx-header + .bx-content.no-gap {
  padding: 0;
  margin-top: 0;
  margin-bottom: -1.25rem;
}

.bx-content,
.bx-header,
.bx-footer {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  padding: 0.75rem 1.25rem;
}

.bx-header {
  margin-top: -1.25rem !important;
  border-bottom: 1px solid;
  border-color: inherit;
  border-radius: 0.25rem 0.25rem 0 0;
}

.bx-footer {
  margin-bottom: -1.25rem !important;
  border-top: 1px solid;
  border-color: inherit;
  border-radius: 0 0 0.25rem 0.25rem;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  vertical-align: bottom;
  color: inherit;
  padding: 2px;
}
.icon.sm {
  height: 1em;
  width: 1em;
}
.icon.md {
  height: 2em;
  width: 2em;
}
.icon.lg {
  height: 3em;
  width: 3em;
}

nav {
  display: flex;
}
nav a {
  text-decoration: none;
}
nav a:not([class*=btn]) {
  padding: 0.5rem 0.75rem;
}

.nav {
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: column;
}
.nav a {
  padding: 0.5rem 0.75rem;
  display: block;
  color: #333;
}
.nav a:hover {
  color: #333;
  background: #efefef;
}
.nav .heading {
  margin-top: 1rem;
  font-weight: 600;
  color: #7a7a7a;
}

.bdr {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.bdr-t {
  border-top: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.bdr-b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.bdr-l {
  border-left: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.bdr-r {
  border-right: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.nbdr {
  border: none !important;
}

.nbdr-t {
  border-top: none !important;
}

.nbdr-b {
  border-bottom: none !important;
}

.nbdr-l {
  border-left: none !important;
}

.nbdr-r {
  border-right: none !important;
}

.file .cta.btn {
  border-right: none !important;
}

.bdr-orange {
  border: 1px solid var(--orange) !important;
}

.bdr-red {
  border: 1px solid #dc3848 !important;
}

.bdr-blue {
  border: 1px solid var(--blue) !important;
}

.bdr-primary {
  border: 1px solid #002e47 !important;
}

.bdr-secondary {
  border: 1px solid var(--secondary) !important;
}

.bdr-success {
  border: 1px solid var(--success) !important;
}

.bdr-danger {
  border: 1px solid var(--danger) !important;
}

.bdr-info {
  border: 1px solid var(--info) !important;
}

.bdr1 {
  border-width: 1px !important;
}

.bdr3 {
  border-width: 3px !important;
}

.bdr5 {
  border-width: 5px !important;
}

.bdr10 {
  border-width: 10px !important;
}

.bdrr {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.bdrr-t {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.bdrr-b {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.bdrr-l {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.bdrr-r {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nbr {
  border-radius: 0;
}
.nbr-t {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nbr-b {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.file-name,
.nbr-l {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.file .cta.btn,
.nbr-r {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.bg-tp-dark {
  background: rgba(0, 0, 0, 0.8);
}

.bg-tp-light {
  background: rgba(255, 255, 255, 0.8);
}

.dd {
  position: relative;
  display: inline-block;
}
.dd-content {
  margin-top: 0.5rem;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  z-index: 1000;
}
.dd .nav {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 0;
}

.dd:hover .dd-content {
  display: block;
}

.va-t {
  align-items: flex-start;
}

.va-b {
  align-items: flex-end;
}

.va-c {
  align-items: center;
}

.va-start {
  align-items: start;
}

.va-stretch {
  align-items: stretch;
}

.va-baseline {
  align-items: baseline;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex.nowrap {
  flex-wrap: nowrap;
}
.flex .column {
  flex-direction: column;
}
.flex .column-reverse {
  flex-direction: column-reverse;
}
.flex .row {
  flex-direction: row;
}
.flex .row-reverse {
  flex-direction: row-reverse;
}

.inline-flex {
  display: inline-flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.fg0 {
  flex-grow: 0;
}

.fs0 {
  flex-shrink: 0;
}

.fg1 {
  flex-grow: 1;
}

.fs1 {
  flex-shrink: 1;
}

.fg2 {
  flex-grow: 2;
}

.fs2 {
  flex-shrink: 2;
}

.close:hover {
  color: #303030;
  cursor: pointer;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.posa {
  position: absolute !important;
}

.posr {
  position: relative !important;
}

[class*=pos-] {
  position: absolute !important;
}

.pos-t {
  top: 0;
  left: 0;
  right: 0;
}
.pos-b {
  bottom: 0;
  left: 0;
  right: 0;
}
.pos-l {
  left: 0;
}
.pos-r {
  right: 0;
}
.pos-tl {
  top: 0;
  left: 0;
}
.pos-tr {
  top: 0;
  right: 0;
}
.pos-bl {
  bottom: 0;
  left: 0;
}
.pos-br {
  bottom: 0;
  right: 0;
}

.hero-title {
  font-size: 2.25rem;
  line-height: 1.15;
  margin: 0;
}
@media (min-width: 768px) {
  .hero-title {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  .hero-title {
    font-size: 4.5rem;
  }
}

.txt-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.txt-lg {
  font-size: 1.25rem;
}
.txt-xl {
  font-size: 3.5rem;
}
.txt-green {
  color: #29a847;
}
.txt-red {
  color: #dc3848;
}
.txt-orange {
  color: #ff3c00;
}
.txt-blue {
  color: #249beb;
}
.txt-white {
  color: #fff;
}
.txt-muted {
  color: var(--muted);
}
.txt-primary {
  color: #002e47;
}
.txt-secondary {
  color: var(--secondary);
}

.dblk {
  display: block !important;
}

.dil {
  display: inline !important;
}

.dilb {
  display: inline-block !important;
}

.dflx {
  display: flex !important;
}

.dilf {
  display: inline-flex !important;
}

.hidden {
  display: none !important;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }

  .block-on-mobile {
    display: block !important;
  }

  .flex-on-mobile {
    display: flex !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hide-on-tablet {
    display: none !important;
  }

  .block-on-tablet {
    display: block !important;
  }

  .flex-on-tablet {
    display: flex !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hide-on-desktop {
    display: none !important;
  }

  .block-on-desktop {
    display: block !important;
  }

  .flex-on-desktop {
    display: flex !important;
  }
}
@media (min-width: 1200px) {
  .hide-on-widescreen {
    display: none !important;
  }

  .block-on-widescreen {
    display: block !important;
  }

  .flex-on-widescreen {
    display: flex !important;
  }
}
@media (min-width: 576px) {
  .block-from-mobile {
    display: block !important;
  }

  .flex-from-mobile {
    display: flex !important;
  }
}
@media (min-width: 768px) {
  .hide-from-tablet {
    display: none !important;
  }

  .block-from-tablet {
    display: block !important;
  }

  .flex-from-tablet {
    display: flex !important;
  }
}
@media (min-width: 992px) {
  .hide-from-desktop {
    display: none !important;
  }

  .block-from-desktop {
    display: block !important;
  }

  .flex-from-desktop {
    display: flex !important;
  }
}
@media (min-width: 1200px) {
  .hide-from-widescreen {
    display: none !important;
  }

  .block-from-widescreen {
    display: block !important;
  }

  .flex-from-widescreen {
    display: flex !important;
  }
}
@media (max-width: 767px) {
  .hide-up-to-tablet {
    display: none !important;
  }

  .block-up-to-tablet {
    display: block !important;
  }

  .flex-up-to-tablet {
    display: flex !important;
  }
}
@media (max-width: 991px) {
  .hide-up-to-desktop {
    display: none !important;
  }

  .block-up-to-desktop {
    display: block !important;
  }

  .flex-up-to-desktop {
    display: flex !important;
  }
}
@media (max-width: 1199px) {
  .hide-up-to-widescreen {
    display: none !important;
  }

  .block-up-to-widescreen {
    display: block !important;
  }

  .flex-up-to-widescreen {
    display: flex !important;
  }
}
/*!
 * Agate by Taufik Nurrohman <https://github.com/taufik-nurrohman>
 * ---------------------------------------------------------------
 */
.hljs {
  display: block;
  overflow-x: auto;
  color: white;
}

.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-code,
.hljs-emphasis {
  font-style: italic;
}

.hljs-tag {
  color: #62c8f3;
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-selector-class {
  color: #ade5fc;
}

.hljs-string,
.hljs-bullet {
  color: #a2fca2;
}

.hljs-type,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-quote,
.hljs-built_in,
.hljs-builtin-name {
  color: #ffa;
}

.hljs-number,
.hljs-symbol,
.hljs-bullet {
  color: #d36363;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #fcc28c;
}

.hljs-comment,
.hljs-deletion,
.hljs-code {
  color: #888;
}

.hljs-regexp,
.hljs-link {
  color: #c6b4f0;
}

.hljs-meta {
  color: #fc9b9b;
}

.hljs-deletion {
  background-color: #fc9b9b;
  color: #333;
}

.hljs-addition {
  background-color: #a2fca2;
  color: #333;
}

.hljs a {
  color: inherit;
}

.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}

footer {
  background: #191c1d;
  margin-top: auto;
}
footer nav {
  text-align: center;
}
footer nav a {
  padding: 0 1rem;
  color: #ccc;
  font-size: 0.8rem;
}
footer nav a:hover {
  color: #ddd;
  background: #444;
}

.copyright {
  color: #cccccc;
  background: #141718;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  border: 0;
  width: 100%;
}

#logo {
  text-align: center;
  height: 40px;
}
@media (min-width: 768px) {
  #logo {
    height: 60px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  #logo {
    height: auto;
  }
}

.nk-admin .navbar {
  background-image: linear-gradient(to right top, #20242a, #1e1f27, #1e1a23, #1f141d, #1f0e16, #250e15, #2c0e12, #310f0c, #40140e, #4e1a0e, #5c210c, #692906);
}

.nk-docs section {
  padding: 0;
}
.nk-docs.container {
  max-width: 68em;
}

.icon-box {
  border: 1px solid #ccc;
  padding: 0.5rem 0;
}
.icon-box svg {
  height: 72px !important;
}
.icon-box .icon {
  width: 150px;
}
.icon-box .icon-title {
  display: block;
  text-align: center;
  font-size: 0.875rem;
  margin-top: -0.5rem;
}
