:root {
  --red: #dc3848;
  --green: #29a847;
  --blue: #249beb;
  --yellow: #ffdd57;
  --orange: #ff3c00;
  --cyan: aqua;
  --teal: teal;
  --turquoise: #00d1b2;
  --purple: #b86bff;
  --darkblue: #002e47;
  --indigo: #6812f3;
  --pink: #e93f8e;
  --primary: #002e47;
  --secondary: #f57e00;
  --light: #fafafa;
  --dark: #212121;
  --muted: #877d7d;
  --danger: #dc3848;
  --success: #29a847;
  --info: #249beb;
  --warning: #ffdd57;
  --danger-light: #feecf0;
  --info-light: #eef6fc;
  --success-light: #effaf3;
  --warning-light: #fffbeb;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

svg {
  fill: currentcolor;
}

:is(.frm-row:not(* > :first-child):not(input[type=hidden] + .frm-row)),
:is(p, h1, h2, h3, h4, h5, h6) + *,
:is(form, table) + *,
:is(.bx, .flex, .grid) + * {
  margin-top: 1.25em;
}

.grid > *,
* > :is(p):first-child * > :is([class*=btn]) {
  margin-top: 0;
}

.py-res {
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;
}
@media (min-width: 1200px) {
  .py-res {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
  }
}

.py-res-lg {
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;
}
@media (min-width: 1024px) {
  .py-res-lg {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
  }
}
@media (min-width: 1200px) {
  .py-res-lg {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
  }
}

.py-res-xl {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}
@media (min-width: 1024px) {
  .py-res-xl {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
  }
}
@media (min-width: 1200px) {
  .py-res-xl {
    padding-top: 8em !important;
    padding-bottom: 8em !important;
  }
}

.pxy-res {
  padding: 3em 1.25em;
}

.primary {
  background: #002e47;
  border: 1px solid #002e47;
  color: #fff;
}
.primary.outline:not(:hover) {
  background-color: transparent;
  border-color: #002e47;
  color: #002e47;
}

.secondary {
  background: #f57e00;
  border: 1px solid #f57e00;
  color: #fff;
}
.secondary.outline:not(:hover) {
  background-color: transparent;
  border-color: #f57e00;
  color: #f57e00;
}

.danger {
  background: #dc3848;
  border: 1px solid #dc3848;
  color: #fff;
}
.danger-light {
  background-color: #feecf0;
  color: #dc3848;
  border: 1px solid #dc3848;
}
.danger.outline:not(:hover) {
  background-color: transparent;
  border-color: #dc3848;
  color: #dc3848;
}

.success {
  background: #29a847;
  border: 1px solid #29a847;
  color: #fff;
}
.success-light {
  background-color: #effaf3;
  color: #29a847;
  border: 1px solid #29a847;
}
.success.outline:not(:hover) {
  background-color: transparent;
  border-color: #29a847;
  color: #29a847;
}

.info {
  background: #249beb;
  border: 1px solid #249beb;
  color: #fff;
}
.info-light {
  background-color: #eef6fc;
  color: #249beb;
  border: 1px solid #249beb;
}
.info.outline:not(:hover) {
  background-color: transparent;
  border-color: #249beb;
  color: #249beb;
}

.warning {
  background: #ffdd57;
  border: 1px solid #ffdd57;
  color: #333;
}
.warning-light {
  background-color: #fffbeb;
  color: #ffdd57;
  border: 1px solid #ffdd57;
}
.warning.outline:not(:hover) {
  background-color: transparent;
  border-color: #ffdd57;
  color: #ffdd57;
}

.red {
  background: #dc3848;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.green {
  background: #29a847;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.blue {
  background: #249beb;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.yellow {
  background: #ffdd57;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.orange {
  background: #ff3c00;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.cyan {
  background: aqua;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.teal {
  background: teal;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.turquoise {
  background: #00d1b2;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.purple {
  background: #b86bff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.darkblue {
  background: #002e47;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.indigo {
  background: #6812f3;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.pink {
  background: #e93f8e;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.light {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.dark {
  background: #212121;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.muted {
  background: #877d7d;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
}

.danger-light {
  background: #feecf0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.info-light {
  background: #eef6fc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.success-light {
  background: #effaf3;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.warning-light {
  background: #fffbeb;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
}

.grey9 {
  background: #2b2b2b;
}

.grey8 {
  background: #454545;
}

.grey7 {
  background: #5e5e5e;
}

.grey6 {
  background: #787878;
}

.grey5 {
  background: #919191;
}

.grey4 {
  background: #ababab;
}

.grey3 {
  background: #c4c4c4;
}

.grey2 {
  background: #dedede;
}

.grey1 {
  background: #f7f7f7;
}

.orange9 {
  background: #ff4f1a;
}

.orange8 {
  background: #ff6333;
}

.orange7 {
  background: #ff764d;
}

.orange6 {
  background: #ff8a66;
}

.orange5 {
  background: #ff9d80;
}

.orange4 {
  background: #ffb199;
}

.orange3 {
  background: #ffc4b3;
}

.orange2 {
  background: #ffd8cc;
}

.orange1 {
  background: #ffebe6;
}

.yellow9 {
  background: #ffe375;
}

.yellow8 {
  background: #ffe785;
}

.yellow7 {
  background: #ffea94;
}

.yellow6 {
  background: #ffeda3;
}

.yellow5 {
  background: #fff0b3;
}

.yellow4 {
  background: #fff3c2;
}

.yellow3 {
  background: #fff6d1;
}

.yellow2 {
  background: #fff9e0;
}

.yellow1 {
  background: #fffcf0;
}

.lead {
  font-size: 1.3rem;
}

h1.title {
  font-size: 2.25rem;
}

.title {
  color: #002e47;
  font-size: 3.75;
  font-weight: 700;
  line-height: 1.125;
}

.subtitle {
  color: #002e47;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.125;
}

.btn, button,
textarea,
select,
input:not([type=checkbox]):not([type=radio]) {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.375em 1em;
  cursor: text;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.xs.btn, button.xs,
textarea.xs,
select.xs,
input.xs:not([type=checkbox]):not([type=radio]) {
  font-size: 0.6rem;
}
.sm.btn, button.sm,
textarea.sm,
select.sm,
input.sm:not([type=checkbox]):not([type=radio]) {
  font-size: 0.75rem;
}
.md.btn, button.md,
textarea.md,
select.md,
input.md:not([type=checkbox]):not([type=radio]) {
  font-size: 1.25rem;
}
.lg.btn, button.lg,
textarea.lg,
select.lg,
input.lg:not([type=checkbox]):not([type=radio]) {
  font-size: 1.5rem;
}

:disabled {
  cursor: not-allowed;
}

:disabled,
.disabled {
  opacity: 0.5;
}

textarea,
select,
input:not([type=checkbox]):not([type=radio]) {
  padding-left: 0.75em;
}

button,
select {
  cursor: pointer;
}

::-moz-placeholder {
  color: #bbbbbb;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bbbbbb;
  opacity: 1;
}

::placeholder {
  color: #bbbbbb;
  opacity: 1;
}

.checkbox,
.radio {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
}

form.condensed .frm-row:not(:first-child) {
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  form.inline .frm-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  form.inline label {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: right;
  }
  form.inline .group,
form.inline input:not([type=checkbox]):not([type=radio]),
form.inline select,
form.inline textarea {
    flex-basis: 0;
    flex-grow: 2;
    flex-shrink: 0;
  }
}

.frm-row {
  position: relative;
}
.frm-row label {
  margin-bottom: 3px;
}
.frm-row input:not([type=checkbox]):not([type=radio]),
.frm-row select,
.frm-row textarea {
  width: 100%;
}
.frm-row > [class*=col] {
  padding-top: 0;
  padding-bottom: 0;
}
.frm-row > [class*=col]:first-child {
  padding-left: 0;
}
.frm-row > [class*=col]:last-child {
  padding-right: 0;
}

.with-icon {
  position: relative;
}
.with-icon input {
  padding-left: 2rem !important;
}
.with-icon input:focus ~ .icon {
  color: #333;
}
.with-icon .icon {
  position: absolute;
  margin: auto;
  top: 0;
  left: 4px;
  bottom: 0;
  color: #bbbbbb;
  height: 1.25rem;
}

[class*=btn].focus, [class*=btn]:focus {
  outline: none;
}

a[class*=btn] {
  text-decoration: none;
}

.btn {
  background: #f8f8f8;
  color: #363636;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  justify-content: center;
}
.btn:hover {
  color: #363636;
  text-decoration: none;
  background-color: #ebebeb;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn.red {
  background: #dc3848;
  color: #fff;
}
.btn.red:hover {
  background-color: #e36370;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.red:active {
  background-color: #d42537;
}
.btn.red.outline:hover {
  color: #fff;
  background-color: #e04d5c;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.red.outline:active {
  background-color: #d42537;
}

.btn.green {
  background: #29a847;
  color: #fff;
}
.btn.green:hover {
  background-color: #36ce59;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.green:active {
  background-color: #24943e;
}
.btn.green.outline:hover {
  color: #fff;
  background-color: #2ebd4f;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.green.outline:active {
  background-color: #24943e;
}

.btn.blue {
  background: #249beb;
  color: #fff;
}
.btn.blue:hover {
  background-color: #52b0ef;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.blue:active {
  background-color: #158fe0;
}
.btn.blue.outline:hover {
  color: #fff;
  background-color: #3ba6ed;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.blue.outline:active {
  background-color: #158fe0;
}

.btn.yellow {
  background: #ffdd57;
  color: #333;
}
.btn.yellow:hover {
  background-color: #ffe88a;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.yellow:active {
  background-color: #ffd83d;
}
.btn.yellow.outline:hover {
  color: #333;
  background-color: #ffe270;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.yellow.outline:active {
  background-color: #ffd83d;
}

.btn.orange {
  background: #ff3c00;
  color: #fff;
}
.btn.orange:hover {
  background-color: #ff6333;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.orange:active {
  background-color: #e63600;
}
.btn.orange.outline:hover {
  color: #fff;
  background-color: #ff4f1a;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.orange.outline:active {
  background-color: #e63600;
}

.btn.cyan {
  background: aqua;
  color: #fff;
}
.btn.cyan:hover {
  background-color: #33ffff;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.cyan:active {
  background-color: #00e6e6;
}
.btn.cyan.outline:hover {
  color: #fff;
  background-color: #1affff;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.cyan.outline:active {
  background-color: #00e6e6;
}

.btn.teal {
  background: teal;
  color: #fff;
}
.btn.teal:hover {
  background-color: #00b3b3;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.teal:active {
  background-color: #006666;
}
.btn.teal.outline:hover {
  color: #fff;
  background-color: #009999;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.teal.outline:active {
  background-color: #006666;
}

.btn.turquoise {
  background: #00d1b2;
  color: #fff;
}
.btn.turquoise:hover {
  background-color: #05ffda;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.turquoise:active {
  background-color: #00b89c;
}
.btn.turquoise.outline:hover {
  color: #fff;
  background-color: #00ebc7;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.turquoise.outline:active {
  background-color: #00b89c;
}

.btn.purple {
  background: #b86bff;
  color: #333;
}
.btn.purple:hover {
  background-color: #d09eff;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.purple:active {
  background-color: #ab52ff;
}
.btn.purple.outline:hover {
  color: #333;
  background-color: #c485ff;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.purple.outline:active {
  background-color: #ab52ff;
}

.btn.darkblue {
  background: #002e47;
  color: #fff;
}
.btn.darkblue:hover {
  background-color: #00507a;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.darkblue:active {
  background-color: #001e2e;
}
.btn.darkblue.outline:hover {
  color: #fff;
  background-color: #003f61;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.darkblue.outline:active {
  background-color: #001e2e;
}

.btn.indigo {
  background: #6812f3;
  color: #fff;
}
.btn.indigo:hover {
  background-color: #8742f5;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.indigo:active {
  background-color: #5d0cdf;
}
.btn.indigo.outline:hover {
  color: #fff;
  background-color: #772af4;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.indigo.outline:active {
  background-color: #5d0cdf;
}

.btn.pink {
  background: #e93f8e;
  color: #333;
}
.btn.pink:hover {
  background-color: #ee6da9;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.pink:active {
  background-color: #e62881;
}
.btn.pink.outline:hover {
  color: #333;
  background-color: #eb569c;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.pink.outline:active {
  background-color: #e62881;
}

.btn.primary {
  background: #002e47;
  color: #fff;
}
.btn.primary:hover {
  background-color: #00507a;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.primary:active {
  background-color: #001e2e;
}
.btn.primary.outline:hover {
  color: #fff;
  background-color: #003f61;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.primary.outline:active {
  background-color: #001e2e;
}

.btn.secondary {
  background: #f57e00;
  color: #fff;
}
.btn.secondary:hover {
  background-color: #ff9729;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.secondary:active {
  background-color: #db7100;
}
.btn.secondary.outline:hover {
  color: #fff;
  background-color: #ff8b0f;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.secondary.outline:active {
  background-color: #db7100;
}

.btn.light {
  background: #fafafa;
  color: #333;
}
.btn.light:hover {
  background-color: white;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.light:active {
  background-color: #ededed;
}
.btn.light.outline:hover {
  color: #333;
  background-color: white;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.light.outline:active {
  background-color: #ededed;
}

.btn.dark {
  background: #212121;
  color: #fff;
}
.btn.dark:hover {
  background-color: #3b3b3b;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.dark:active {
  background-color: #141414;
}
.btn.dark.outline:hover {
  color: #fff;
  background-color: #2e2e2e;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.dark.outline:active {
  background-color: #141414;
}

.btn.muted {
  background: #877d7d;
  color: #fff;
}
.btn.muted:hover {
  background-color: #a09898;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.muted:active {
  background-color: #7a7171;
}
.btn.muted.outline:hover {
  color: #fff;
  background-color: #938a8a;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.muted.outline:active {
  background-color: #7a7171;
}

.btn.danger {
  background: #dc3848;
  color: #fff;
}
.btn.danger:hover {
  background-color: #e36370;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.danger:active {
  background-color: #d42537;
}
.btn.danger.outline:hover {
  color: #fff;
  background-color: #e04d5c;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.danger.outline:active {
  background-color: #d42537;
}

.btn.success {
  background: #29a847;
  color: #fff;
}
.btn.success:hover {
  background-color: #36ce59;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.success:active {
  background-color: #24943e;
}
.btn.success.outline:hover {
  color: #fff;
  background-color: #2ebd4f;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.success.outline:active {
  background-color: #24943e;
}

.btn.info {
  background: #249beb;
  color: #fff;
}
.btn.info:hover {
  background-color: #52b0ef;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.info:active {
  background-color: #158fe0;
}
.btn.info.outline:hover {
  color: #fff;
  background-color: #3ba6ed;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.info.outline:active {
  background-color: #158fe0;
}

.btn.warning {
  background: #ffdd57;
  color: #333;
}
.btn.warning:hover {
  background-color: #ffe88a;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.warning:active {
  background-color: #ffd83d;
}
.btn.warning.outline:hover {
  color: #333;
  background-color: #ffe270;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.warning.outline:active {
  background-color: #ffd83d;
}

.btn.danger-light {
  background: #feecf0;
  color: #333;
}
.btn.danger-light:hover {
  background-color: white;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.danger-light:active {
  background-color: #fdd3dc;
}
.btn.danger-light.outline:hover {
  color: #333;
  background-color: white;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.danger-light.outline:active {
  background-color: #fdd3dc;
}

.btn.info-light {
  background: #eef6fc;
  color: #333;
}
.btn.info-light:hover {
  background-color: white;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.info-light:active {
  background-color: #d8eaf8;
}
.btn.info-light.outline:hover {
  color: #333;
  background-color: white;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.info-light.outline:active {
  background-color: #d8eaf8;
}

.btn.success-light {
  background: #effaf3;
  color: #333;
}
.btn.success-light:hover {
  background-color: white;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.success-light:active {
  background-color: #dcf4e5;
}
.btn.success-light.outline:hover {
  color: #333;
  background-color: white;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.success-light.outline:active {
  background-color: #dcf4e5;
}

.btn.warning-light {
  background: #fffbeb;
  color: #333;
}
.btn.warning-light:hover {
  background-color: white;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.warning-light:active {
  background-color: #fff6d1;
}
.btn.warning-light.outline:hover {
  color: #333;
  background-color: white;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn.warning-light.outline:active {
  background-color: #fff6d1;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 360px;
  z-index: 1000;
  overflow-y: auto;
  outline: none;
  transition: transform 0.25s ease-in-out;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  vertical-align: bottom;
  color: inherit;
  padding: 2px;
}
.icon.sm {
  height: 1em;
  width: 1em;
}
.icon.md {
  height: 2em;
  width: 2em;
}
.icon.lg {
  height: 3em;
  width: 3em;
}

.navbar,
.navbar > .container {
  display: flex;
  justify-content: space-between;
}

.navbar {
  background: var(--primary);
  padding: 0.5em 1em;
  position: relative;
  z-index: 999;
}
.navbar .logo {
  margin-right: 1em;
  line-height: 0;
}
.navbar nav {
  margin-top: 0;
  text-transform: uppercase;
}
.navbar nav a:not([class*=btn]) {
  color: white;
  padding: 0.5em 1em;
}
.grid {
  display: grid;
  gap: 1.25em;
}

.grid.t {
  grid-template-columns: repeat(6, 1fr);
}

.grid-gap {
  gap: 1.25em;
}

.gg-lg {
  gap: 3rem;
}

.cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

@media (min-width: 576px) {
  .cols-sm-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .cols-sm-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cols-sm-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .cols-sm-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .cols-sm-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .cols-sm-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .cols-md-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .cols-md-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cols-md-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .cols-md-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .cols-md-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .cols-md-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .cols-lg-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .cols-lg-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cols-lg-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .cols-lg-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .cols-lg-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .cols-lg-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  .cols-xl-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .cols-xl-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cols-xl-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .cols-xl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .cols-xl-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .cols-xl-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 1600px) {
  .cols-xxl-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .cols-xxl-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cols-xxl-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .cols-xxl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .cols-xxl-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .cols-xxl-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
#nk-header {
  background: #074464;
  padding: 1.25em;
}

#nk-main {
  flex: 1;
}

.g-recaptcha {
  max-width: 200px;
}

.ha-l {
  justify-content: flex-start;
}

.ha-r {
  justify-content: flex-end;
}

.ha-c {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-even {
  justify-content: space-evenly;
}

.va-t {
  align-items: flex-start;
}

.va-b {
  align-items: flex-end;
}

.va-c {
  align-items: center;
}

.va-start {
  align-items: start;
}

.va-stretch {
  align-items: stretch;
}

.va-baseline {
  align-items: baseline;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex.nowrap {
  flex-wrap: nowrap;
}

.inline-flex {
  display: inline-flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex .no-wrap {
  flex-wrap: nowrap;
}

.flex .wrap {
  flex-wrap: wrap;
}

.fg0 {
  flex-grow: 0;
}

.fs0 {
  flex-shrink: 0;
}

.fg1 {
  flex-grow: 1;
}

.fs1 {
  flex-shrink: 1;
}

.fg2 {
  flex-grow: 2;
}

.fs2 {
  flex-shrink: 2;
}

.fullwidth {
  width: 100%;
  max-width: 100%;
}

.round {
  border-radius: 50%;
}

.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.no-click {
  pointer-events: none;
}

.h16 {
  height: 16px !important;
}

.w16 {
  width: 16px !important;
}

.mw16 {
  max-width: 16px !important;
}

.wh16 {
  height: 16px !important;
  width: 16px !important;
}

.h24 {
  height: 24px !important;
}

.w24 {
  width: 24px !important;
}

.mw24 {
  max-width: 24px !important;
}

.wh24 {
  height: 24px !important;
  width: 24px !important;
}

.h32 {
  height: 32px !important;
}

.w32 {
  width: 32px !important;
}

.mw32 {
  max-width: 32px !important;
}

.wh32 {
  height: 32px !important;
  width: 32px !important;
}

.h40 {
  height: 40px !important;
}

.w40 {
  width: 40px !important;
}

.mw40 {
  max-width: 40px !important;
}

.wh40 {
  height: 40px !important;
  width: 40px !important;
}

.h64 {
  height: 64px !important;
}

.w64 {
  width: 64px !important;
}

.mw64 {
  max-width: 64px !important;
}

.wh64 {
  height: 64px !important;
  width: 64px !important;
}

.h100 {
  height: 100px !important;
}

.w100 {
  width: 100px !important;
}

.mw100 {
  max-width: 100px !important;
}

.wh100 {
  height: 100px !important;
  width: 100px !important;
}

.h150 {
  height: 150px !important;
}

.w150 {
  width: 150px !important;
}

.mw150 {
  max-width: 150px !important;
}

.wh150 {
  height: 150px !important;
  width: 150px !important;
}

.h200 {
  height: 200px !important;
}

.w200 {
  width: 200px !important;
}

.mw200 {
  max-width: 200px !important;
}

.wh200 {
  height: 200px !important;
  width: 200px !important;
}

.h400 {
  height: 400px !important;
}

.w400 {
  width: 400px !important;
}

.mw400 {
  max-width: 400px !important;
}

.wh400 {
  height: 400px !important;
  width: 400px !important;
}

.h600 {
  height: 600px !important;
}

.w600 {
  width: 600px !important;
}

.mw600 {
  max-width: 600px !important;
}

.wh600 {
  height: 600px !important;
  width: 600px !important;
}

.vh40 {
  height: 40vh !important;
}

.vh50 {
  height: 50vh !important;
}

.vh60 {
  height: 60vh !important;
}

.vh100 {
  height: 100vh !important;
}

.mal {
  margin-left: auto !important;
}

.mar {
  margin-left: auto !important;
}

.mmxy {
  margin: -1.25em;
}

.mmx {
  margin-left: -1.25em;
  margin-right: -1.25em;
}

.nmt {
  margin-top: 0 !important;
}

.npt {
  padding-top: 0 !important;
}

.nmb {
  margin-bottom: 0 !important;
}

.npb {
  padding-bottom: 0 !important;
}

.nml {
  margin-left: 0 !important;
}

.npl {
  padding-left: 0 !important;
}

.nmr {
  margin-right: 0 !important;
}

.npr {
  padding-right: 0 !important;
}

.nmxy {
  margin: 0 !important;
}

.npxy {
  padding: 0 !important;
}

.nmx {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.npx {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.max {
  margin-left: auto !important;
  margin-right: auto !important;
}

.nmy {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.npy {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mt {
  margin-top: 1.25em !important;
}

.pt {
  padding-top: 1.25em !important;
}

.mt-025 {
  margin-top: 0.25rem !important;
}

.pt-025 {
  padding-top: 0.25rem !important;
}

.mt-05 {
  margin-top: 0.5rem !important;
}

.pt-05 {
  padding-top: 0.5rem !important;
}

.mt-075 {
  margin-top: 0.75rem !important;
}

.pt-075 {
  padding-top: 0.75rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.mb {
  margin-bottom: 1.25em !important;
}

.pb {
  padding-bottom: 1.25em !important;
}

.mb-025 {
  margin-bottom: 0.25rem !important;
}

.pb-025 {
  padding-bottom: 0.25rem !important;
}

.mb-05 {
  margin-bottom: 0.5rem !important;
}

.pb-05 {
  padding-bottom: 0.5rem !important;
}

.mb-075 {
  margin-bottom: 0.75rem !important;
}

.pb-075 {
  padding-bottom: 0.75rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.ml {
  margin-left: 1.25em !important;
}

.pl {
  padding-left: 1.25em !important;
}

.ml-025 {
  margin-left: 0.25rem !important;
}

.pl-025 {
  padding-left: 0.25rem !important;
}

.ml-05 {
  margin-left: 0.5rem !important;
}

.pl-05 {
  padding-left: 0.5rem !important;
}

.ml-075 {
  margin-left: 0.75rem !important;
}

.pl-075 {
  padding-left: 0.75rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.mr {
  margin-right: 1.25em !important;
}

.pr {
  padding-right: 1.25em !important;
}

.mr-025 {
  margin-right: 0.25rem !important;
}

.pr-025 {
  padding-right: 0.25rem !important;
}

.mr-05 {
  margin-right: 0.5rem !important;
}

.pr-05 {
  padding-right: 0.5rem !important;
}

.mr-075 {
  margin-right: 0.75rem !important;
}

.pr-075 {
  padding-right: 0.75rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.mxy {
  margin: 1.25em !important;
}

.pxy {
  padding: 1.25em !important;
}

.mxy-025 {
  margin: 0.25rem !important;
}

.pxy-025 {
  padding: 0.25rem !important;
}

.mxy-05 {
  margin: 0.5rem !important;
}

.pxy-05 {
  padding: 0.5rem !important;
}

.mxy-075 {
  margin: 0.75rem !important;
}

.pxy-075 {
  padding: 0.75rem !important;
}

.mxy-1 {
  margin: 1rem !important;
}

.pxy-1 {
  padding: 1rem !important;
}

.mxy-2 {
  margin: 2rem !important;
}

.pxy-2 {
  padding: 2rem !important;
}

.mxy-3 {
  margin: 3rem !important;
}

.pxy-3 {
  padding: 3rem !important;
}

.mxy-4 {
  margin: 4rem !important;
}

.pxy-4 {
  padding: 4rem !important;
}

.mxy-5 {
  margin: 5rem !important;
}

.pxy-5 {
  padding: 5rem !important;
}

.mx {
  margin-left: 1.25em !important;
  margin-right: 1.25em !important;
}

.px {
  padding-left: 1.25em !important;
  padding-right: 1.25em !important;
}

.mx-025 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.px-025 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.mx-05 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.px-05 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.mx-075 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important;
}

.px-075 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.mx-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.px-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.mx-2 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.px-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.mx-3 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.px-3 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.mx-4 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.px-4 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.mx-5 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.px-5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.my {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.py {
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;
}

.my-025 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.py-025 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.my-05 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.py-05 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.my-075 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.py-075 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.py-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.my-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.py-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.my-5 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.py-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.nm {
  margin: 0 !important;
}

.np {
  padding: 0 !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.posa {
  position: absolute !important;
}

.posr {
  position: relative !important;
}

[class*=pos-] {
  position: absolute !important;
}

.pos-t {
  top: 0;
  left: 0;
  right: 0;
}
.pos-b {
  bottom: 0;
  left: 0;
  right: 0;
}
.pos-l {
  left: 0;
}
.pos-r {
  right: 0;
}
.pos-tl {
  top: 0;
  left: 0;
}
.pos-tr {
  top: 0;
  right: 0;
}
.pos-bl {
  bottom: 0;
  left: 0;
}
.pos-br {
  bottom: 0;
  right: 0;
}

.fw4 {
  font-weight: 400;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

.fw9 {
  font-weight: 900;
}

.lh1 {
  line-height: 1;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.taj {
  text-align: justify;
}

.txt-strike {
  text-transform: line-through;
}

.txt-underline {
  text-transform: underline;
}

.txt-upper {
  text-transform: uppercase;
}

.txt-lower {
  text-transform: lowercase;
}

.txt-capitalize {
  text-transform: capitalize;
}
